<main class ="main">
<nav>
  <ol>
    <li>HOME</li>
    <li>ABOUT</li>
    <li>SERVICES</li>
    <li>CONTACT</li>
    <li>HELP</li>
  </ol>
  </nav>
  <div>
    <section>
      <div>
      <img src="C:\Users\gannu\Downloads\harley-davidson-wxSb4-Lxt3Y-unsplash.jpg" alt=""/>
      <div>BIKE 1</div>
      <P>TVS Motor Company is a well-known Indian multinational motorcycle manufacturer headquartered in Chennai. It is the third-largest motorcycle company in India by revenue and has a significant global presence12. TVS offers a wide range of two-wheelers, including motorcycles, scooters, and mopeds, as well as electric vehicles and three-wheelers</P>
      </div>
      <div> 
        <img src="C:\Users\gannu\Downloads\taras-chernus-O9rstxDiCts-unsplash.jpg" alt="" />
        <div>bike 2</div>
        <p>TVS bikes are known for their reliability, innovative features, and value for money. They also have a strong presence in motorsports through TVS Racing2.

          Is there a specific TVS bike model you’re interested in, or do you have any particular questions about their bikes </p>
          </div>
          <div>
            <img src="C:\Users\gannu\Downloads\pexels-gijs-coolen-1325695-2549941.jpg" alt=""/> 
            <div>bike 3</div>
            <p>TVS bikes are known for their reliability, innovative features, and value for money. They also have a strong presence in motorsports through TVS Racing2.</p>
          </div>
          <div>
            <img src="C:\Users\gannu\Downloads\pexels-pragyanbezbo-1715184.jpg" alt="" />
            <div> bike 4</div>
            <p>TVS bikes are known for their reliability, innovative features, and value for money. They also have a strong presence in motorsports through TVS Racing2.</p>
            </div>
            </section>
            </div>
            </main>
            
<router-outlet />
